html {
	font-size: 10px;
	color: #FFFFFF;
}

body {
	margin: 2rem 13rem;
	font-size: 1.6rem;
	background-color: #181942;
}

ul {
	padding-inline-start: 0;
}

button {
	padding: 1rem 2rem;
	border-radius: 1rem;
	border: 0.1rem solid #707070;
	background-color: #181942;
	color: #FFFFFF;
}

li {
	list-style-type: none;
	margin: 1em 1em 1em 0;
}

footer {
	border-top: 2px dotted #707070;
}

.divHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logoHeader {
	font-size: 3rem;
}

.navBarHeader li {
		display: inline;
		
}

.section {
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10rem 0;

}

.marginInSection {
	margin-left: 4rem;
	max-width: 50%;
}

.topicSection {
	line-height: 3.2rem;
	opacity: 0.5;
	margin: 1.5rem 0;
}

.titelSection {
	line-height: 8rem;
	font-size: 5.6rem;
	margin: 1.5rem 0;
}

.textSection {
	line-height: 3.2rem;
	font-size: 2rem;
	margin: 1.5rem 0;
}

.subLinks{
	display: flex;
	align-items: center;
	margin: 1.5rem 0;
}

#playButton {
	margin-left: 2rem;
	display: flex;
}
#playButton button{
	border-radius: 100px;
	background: linear-gradient(0.75turn, #6357F6, #E6606C);
	border-width: 0;
	margin-right: 1rem;
}

.css-dreieck {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;  
	border-left: 10px solid #FFFFFF;
	border-radius: 5px;
}

.sectionMiddle {
	display: block;
	width: 100%;
    text-align: center;
}

.boxes {
	display: flex;
	justify-content: space-between;
	margin: 2rem 0;
}

.gameBox {
	display: flex;
	flex-direction: column;
	border-radius: 1.2rem;
	border-color: white;
	box-shadow: 5px 10px 20px #00012C;
}

.topicSection.textInfoGameBox {
	font-size: 2rem;
}

.textInfoGameBox{
	display: flex;
	align-items: center;
	margin: 0 2rem 2rem 2rem;
	font-size: 2.4rem;
	text-align: start;
}

.infoGameBox{
	padding-top: 2rem;
	border-style: solid;
	border-radius: 0 0 1.2rem 1.2rem;
	border-color: #707070;
	border-width: 1px;
	border-top: 1px;
	background: linear-gradient(#4D4F95, #2B2D66);
	height: 100%;

	.topicSection {
		font-size: 1.6rem;
	}
}

.ImgGameBox {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	filter: brightness(1.5);
	border-radius: 1.2rem 1.2rem 0 0;

}

#diablo4 {
	width: 68%;
	object-fit: cover;
}

#otherTwo {
	width: 28%;
	display: flex;
	flex-direction: column;
	object-fit: cover;
	justify-content: space-between;
}

.ImgDownoad {
	margin-left: auto;
	margin-right: 2rem;
}

.divPolygone{
	padding: 10px 0 0 40px;
	display: flex;
	justify-content: start;
	align-items: start;
}

.polygone1 {
	margin-top: 70px;
}

.polygone2 {
	margin-left: 20px;
}


.slider-container {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slider {
    width: 100%;
    max-width: 750px;
    height: 500px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: hidden;
}

.slide:nth-of-type(even) {
    background-color: rgb(250, 246, 212);
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 400px;
    margin-right: 0px;
    box-sizing: border-box;
    background: white;
    transform-origin: center center;
    transform: scale(1);
    scroll-snap-align: center;
}

.slide__text {
	object-fit: cover;
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
}

.slide a {
    background: none;
    border: none;
}

a.slide__prev,
.slider::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    top: 60%;
    left: 5%;
}

a.slide__next,
.slider::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    top: 60%;
    right: 5%;
}

.slider::before,
.slider::after,
.slide__prev,
.slide__next {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid black;
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
}

.slider::before,
.slider::after {
  content: '';
  z-index: 1;
  background: none;
  pointer-events: none;
}

.slider__nav {
    box-sizing: border-box;
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
}

.slider__navlink {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: linear-gradient(0.75turn, #6357F6, #E6606C);
    margin: 0 10px 0 10px;
}

.statsBox {
	text-align: left;
	background: linear-gradient(#4D4F95, #2B2D66);
	width:22%;
	border-radius: 1.2rem;
	border-color: white;
	box-shadow: 5px 10px 20px #00012C;
}

#statsBoxCreatingGames {
	background: linear-gradient(0.75turn, #6357F6, #E6606C);
}

.statsBoxNumber {
	margin: 15px;
	font-size: 40px;
}

.statsBoxText {
	margin: 15px;
}

.ImgHex{
	transform: rotate(-30deg);
}

.hex {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid #707070;
	border-top: 2px solid #707070;
	transform: rotate(30deg);
	position: relative;
	margin: 1em auto;
	width: 5em;
	height: 8em;
	border-radius: 1em/.5em;
	background: #2B2D66;
	transition: opacity .5s;
	z-index: 1;
}

.hex:before,
.hex:after {
	border-bottom: inherit;
	border-top: inherit;
	background:  #2B2D66;
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
      width: 7.7rem;
  content: '';
}

.hex:before {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  z-index: -1;
}


.hex:after {
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  z-index: -1;
}

.hex2 {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid #6357F6;
	border-top: 2px solid #6357F6;
	position: relative;
	margin: 1em auto;
	width: 4em;
	height: 6em;
	border-radius: 1em/.5em;
	background:  #2B2D66;
	transition: opacity .5s;
	z-index: 2;
}

.hex2:before,
.hex2:after {
	border-bottom: inherit;
	border-top: inherit;
	width: 4em;
	height: 5em;
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  content: '';
}

.hex2:before {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  z-index: -1;
}


.hex2:after {
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  z-index: -1;
}

.divPolygonBox{
	background: linear-gradient(#4D4F95, #2B2D66);
	width: 250px;
	text-align: center;
	margin-top: -75px;
	padding: 40px 20px 0;
	border-radius: 10px;
	border: 2px solid #707070;
}

.hexInSection{
	display: flex;
}

.divHexInSectionText{
	display: flex;
    flex-direction: column;
    margin: auto 5rem;
}

.divHexInSectionText div{
	margin: 5px 0;
}

.divGameEvents {
	margin: 50px 0;
	display: flex;
	justify-content: space-between;
}

.divGameEvent{
	width: 32%;
	display: flex;
	flex-direction: column;

}

.imgGameEvents{
	width: 100%;
	height: 100%;
}

.containerGameEvent {
	position: relative;
	text-align: center;
	color: white;
}

.top-left {
	border-radius: 10px;
	padding: 5px;
	background: linear-gradient(0.75turn, #6357F6, #E6606C);
	position: absolute;
	top: 16px;
	left: 16px;
}

.reviewContentBox{
	border-radius: 12px;
	border: 2px solid #707070;
	 background: linear-gradient(#4D4F95, #2B2D66);
	 position: relative;
}

.reviewContentBoxText {
	margin: 3rem;
}

#quoats {
	position: absolute;
    top: -3rem;
    right: 1.6rem;
}

.divRatingStars{
	margin-top: 7rem;
	height: 7rem;
	overflow: hidden;
}

#ratingStars {
	margin-top: 3rem;
}

.textSection.reviewContentBoxText {
	margin-bottom: 1rem;
}

.topicSection.reviewContentBoxText {
	margin-top: 1rem;
}

.divBrands {
	margin: 5rem 3rem;
    display: flex;
    justify-content: space-between;
}

.imgBlog{
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	filter: brightness(1.5);
	border-radius: 1.2rem 1.2rem 0 0;
}

#contractText{
	display: block;
}

#contract{
	padding: 5rem 0 5rem 5rem;
	background: linear-gradient(0.75turn, #6457f5, #E6606C);
	border: 2px solid rgba(255, 255, 255, .1);
	border-left-color: #D6606C;
	border-right-color: #7357F6;
	border-radius: 10px;
}

#contractBackground{
	position: relative;
  	width: 50%;
	}

#contractBackground img { 
  	width: 100%;
  	height: auto;

}

#contractBackground button { 
  	position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #E6606C;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 1rem 2rem;
}

#imgContract{
	position: absolute;

}

.footerMenu{
	margin-bottom: 60px;
}

.footerMenuDiv{
	display: flex; 
	justify-content: center;
}

.footerMenuText{
	width: 23%; 
	margin: auto 0;
}


.footerMenuTextBig{
	font-size: 40px; 
	line-height: 48px;
}